# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import pandas_datareader.data as web

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [9]:
end = pd.Timestamp.now()
start = pd.to_datetime('2025-12-01')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [49]:
api_key = '2A5WSFBZGGSB0LDD'
df_apple = web.DataReader('AAPL', 'av-daily', start, end, api_key=api_key)
df_apple_t = df_apple.tail()
df_apple_t

               open      high      low   close    volume
2026-01-27  259.170  261.9500  258.210  258.27  48787855
2026-01-28  257.650  258.8550  254.510  256.44  41287971
2026-01-29  258.000  259.6500  254.410  258.28  67253009
2026-01-30  255.165  261.8999  252.180  259.48  92443408
2026-02-02  260.030  270.4900  259.205  270.01  73913425

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [50]:
df_apple['stock'] = 'AAPL'

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [51]:
df_tesla = web.DataReader('TSLA', 'av-daily', start, end, api_key=api_key)
df_tesla['stock'] = 'Tesla'
df_tesla_t = df_tesla.tail()

In [52]:

df_ibm = web.DataReader('IBM', 'av-daily', start, end, api_key=api_key)
df_ibm['stock'] = 'IBM'
df_ibm_t = df_ibm.tail()

In [53]:

df_msft = web.DataReader('MSFT', 'av-daily', start, end, api_key=api_key)
df_msft['stock'] = 'Microsoft'
df_msft_t = df_msft.tail()

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [85]:
df_all = pd.concat([df_msft, df_ibm, df_tesla, df_apple])
df_all

               open      high       low   close    volume      stock
2025-12-01  488.435  489.8599  484.6475  486.74  23963993  Microsoft
2025-12-02  486.715  493.4999  486.3200  490.00  19562722  Microsoft
2025-12-03  476.320  484.2400  475.2000  477.73  34615102  Microsoft
2025-12-04  479.760  481.3220  476.4900  480.84  22318155  Microsoft
2025-12-05  482.515  483.4000  478.8801  483.16  22608710  Microsoft
...             ...       ...       ...     ...       ...        ...
2026-01-27  259.170  261.9500  258.2100  258.27  48787855       AAPL
2026-01-28  257.650  258.8550  254.5100  256.44  41287971       AAPL
2026-01-29  258.000  259.6500  254.4100  258.28  67253009       AAPL
2026-01-30  255.165  261.8999  252.1800  259.48  92443408       AAPL
2026-02-02  260.030  270.4900  259.2050  270.01  73913425       AAPL

[172 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [107]:
df_all = df_all.reset_index().set_index(['index', 'stock'])

### Step 7. Create a dataFrame called vol, with the volume values.

In [143]:
vol = pd.DataFrame(df_all['volume'])
vol

                        volume
index      stock
2025-12-01 Microsoft  23963993
2025-12-02 Microsoft  19562722
2025-12-03 Microsoft  34615102
2025-12-04 Microsoft  22318155
2025-12-05 Microsoft  22608710
...                        ...
2026-01-27 AAPL       48787855
2026-01-28 AAPL       41287971
2026-01-29 AAPL       67253009
2026-01-30 AAPL       92443408
2026-02-02 AAPL       73913425

[172 rows x 1 columns]

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [146]:
vol.index = vol.index.set_levels([pd.to_datetime(vol.index.levels[0]), vol.index.levels[1]])

In [149]:
vol_weekly = vol.groupby('stock').resample('W', level=0).sum()
vol_weekly

                         volume
stock     index
AAPL      2025-12-07  235050842
          2025-12-14  173978918
          2025-12-21  334459218
          2025-12-28  105646202
          2026-01-04  110986523
          2026-01-11  236725388
          2026-01-18  242545372
          2026-01-25  213320034
          2026-02-01  305741477
          2026-02-08   73913425
IBM       2025-12-07   16688175
          2025-12-14   15650716
          2025-12-21   26507574
          2025-12-28    9560511
          2026-01-04   14641299
          2026-01-11   17232650
          2026-01-18   23314117
          2026-01-25   19365305
          2026-02-01   28527557
          2026-02-08    4581189
Microsoft 2025-12-07  123068682
          2025-12-14  116434737
          2025-12-21  168370080
          2025-12-28   46344656
          2026-01-04   66011041
          2026-01-11  110505773
          2026-01-18  137722486
          2026-01-25  127303945
          2026-02-01  282677444
          2026-02-08   42219858
Tesla     2025-12-07  342617152
          2025-12-14  345295423
          2025-12-21  527114554
          2025-12-28  245205787
          2026-01-04  260114864
          2026-01-11  341235937
          2026-01-18  282314705
          2026-01-25  258650266
          2026-02-01  305888513
          2026-02-08   58739455

### Step 9. Find all the volume traded in the year of 2015

In [172]:
vol.loc['2025']

                        volume
index      stock
2025-12-01 Microsoft  23963993
2025-12-02 Microsoft  19562722
2025-12-03 Microsoft  34615102
2025-12-04 Microsoft  22318155
2025-12-05 Microsoft  22608710
...                        ...
2025-12-24 AAPL       17910574
2025-12-26 AAPL       21521802
2025-12-29 AAPL       23715213
2025-12-30 AAPL       22139617
2025-12-31 AAPL       27293639

[88 rows x 1 columns]