# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [39]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

### Step 3. Assign it to a variable called wine

In [4]:
wine = pd.read_csv(url)

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [14]:
wine = wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [26]:
wine_col = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.columns = wine_col

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [40]:
wine.loc[:2, 'alcohol'] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [45]:
wine.loc[2:3, 'magnesium'] = np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [58]:
wine.fillna({'alcohol':10, 'magnesium': 100}, inplace=True)

### Step 9. Count the number of missing values

In [62]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [69]:
x = np.random.randint(low=1, high=11, size=10)
x

array([ 4,  4,  8, 10,  2,  9,  6,  1, 10,  4], dtype=int32)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [70]:
s = pd.Series(data=np.nan, index=x)
s

4    NaN
4    NaN
8    NaN
10   NaN
2    NaN
9    NaN
6    NaN
1    NaN
10   NaN
4    NaN
dtype: float64

### Step 12.  How many missing values do we have?

In [79]:
num_missing = s.isna().sum()
print('count missing values: ', num_missing)

count missing values:  10

### Step 13. Delete the rows that contain missing values

In [80]:
s.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [86]:
wine['alcohol'][wine['alcohol'] != np.nan]

0      10.00
1      10.00
2      10.00
3      13.24
4      14.20
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 177, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [88]:
wine.reset_index(inplace=True)

### BONUS: Create your own question and answer it.