# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [119]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [75]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'

### Step 3. Assign it to a variable called crime.

In [76]:
crime = pd.read_csv(url)

### Step 4. What is the type of the columns?

In [77]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [78]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y').dt.year

### Step 6. Set the Year column as the index of the dataframe

In [79]:
crime = crime.set_index('Year')

### Step 7. Delete the Total column

In [80]:
crime.drop('Total', axis = 1 ,inplace = True)

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [106]:
crime['Decade'] = (crime.index.year // 10) * 10
cols_to_sum = crime.columns.difference(['Population'])
cols_to_sum

Index(['Aggravated_assault', 'Burglary', 'Decade', 'Forcible_Rape',
       'Larceny_Theft', 'Murder', 'Property', 'Robbery', 'Vehicle_Theft',
       'Violent'],
      dtype='object')

In [111]:
grouped = crime.groupby('Decade')[cols_to_sum].sum()
grouped

,Aggravated_assault,Burglary,Decade,Forcible_Rape,Larceny_Theft,Murder,Property,Robbery,Vehicle_Theft,Violent
Decade,,,,,,,,,,
1960,2158520,13321100,19600,236720,26547700,106180,45160900,1633510,5292100,4134930
1970,4702120,28486000,19700,554570,53157800,192230,91383800,4159020,9739900,9607930
1980,7619130,33073494,19800,865639,72040253,206439,117048900,5383109,11935411,14074328
1990,10568963,26750015,19900,998827,77679366,211664,119053499,5748930,14624418,17527048
2000,8652124,21565176,20000,922499,67970291,163068,100944369,4230366,11412834,13968056
2010,3764142,10125170,10050,421059,30401698,72867,44095950,1749809,3569080,6072017

### Step 9. What is the most dangerous decade to live in the US?

In [125]:
grouped.loc[:, :].apply(sum, axis = 1).idxmax()

np.int32(1990)