# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [16]:
# Solution 1
chipo.shape[0]

4622

In [25]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [24]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [32]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [33]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [59]:
order_counts = chipo.groupby('item_name')['order_id'].count()
most_ordered = order_counts.sort_values( ascending=False).head(1)
most_ordered

item_name
Chicken Bowl    726
Name: order_id, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [65]:
chipo.loc[
    chipo['item_name'].str.contains('Chicken bowl', case=False),
    'quantity'
].sum()

np.int64(761)

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

In [75]:
chipo['quantity'].sum()

np.int64(4972)

### Step 13. Turn the item price into a float

In [80]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False).astype(float)

#### Step 13.a. Check the item price type

In [81]:
chipo['item_price'].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [91]:
chipo['total_price'] = chipo['item_price'] * chipo['quantity']
reve = chipo['total_price'].sum()
print(f'{reve:,.2f}')

39,237.02

### Step 15. How many orders were made in the period?

In [83]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [93]:
# Solution 1
chipo['total_price'] = chipo['item_price'] * chipo['quantity']
avg_reve = chipo['total_price'].sum() / chipo['order_id'].nunique()
print(f'{avg_reve:,.2f}')

21.39

In [100]:
# Solution 2
chipo.groupby('order_id')['total_price'].sum().mean()

np.float64(21.39423118865867)

### Step 17. How many different items are sold?

In [82]:
chipo['item_name'].nunique()

50