# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [30]:
s1 = pd.Series(np.random.randint(1,5, size=100))
s2 = pd.Series(np.random.randint(1,4, size=100))
s3 = pd.Series(np.random.randint(10000,30001, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [31]:
df = pd.concat([s1,s2,s3],axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [32]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
df

    bedrs  bathrs  price_sqr_meter
0       1       1            27876
1       3       1            23976
2       1       1            25189
3       4       1            24101
4       4       2            21640
..    ...     ...              ...
95      3       3            23497
96      2       1            10756
97      3       3            27726
98      1       3            13144
99      4       1            15414

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [36]:
bigcolumn = pd.concat([s1,s2,s3],axis=0)
bigcolumn

0         1
1         3
2         1
3         4
4         4
      ...
95    23497
96    10756
97    27726
98    13144
99    15414
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [40]:
bigcolumn.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       ...
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [43]:
bigcolumn = bigcolumn.reset_index(drop=True)
bigcolumn

0          1
1          3
2          1
3          4
4          4
       ...
295    23497
296    10756
297    27726
298    13144
299    15414
Length: 300, dtype: int32