# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data = {
    'evolution' : ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp' : [45, 39, 44, 45],
    'name' : ['Bulbasaur', 'Charmander', 'Squirtle',  'Caterpie'],
    'pokedex' : ['yes', 'no', 'yes', 'no'],
    'type' : ['grass', 'fire', 'water', 'bug']
}

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon = pd.DataFrame(data)
print(pokemon)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [10]:
pokemon.loc[:, 'place'] = 'unknown'

### Step 6. Present the type of each column

In [13]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 324.0+ bytes

### BONUS: Create your own question and answer it.