# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [19]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

### Step 3. Assign it to a variable called iris

In [3]:
iris = pd.read_csv(url)

### Step 4. Create columns for the dataset

In [9]:
iris_col = ['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm', 'class_cm']
iris.columns = iris_col
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

### Step 5.  Is there any missing value in the dataframe?

In [15]:
iris.isna().any()

sepal_length_cm    False
sepal_width_cm     False
petal_length_cm    False
petal_width_cm     False
class_cm           False
dtype: bool

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [20]:
iris.loc[9:28, 'petal_length_cm'] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [28]:
iris.fillna(1, inplace=True)

### Step 8. Now let's delete the column class

In [30]:
iris.drop('class_cm', axis=1, inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [33]:
iris[:3] = np.nan

### Step 10.  Delete the rows that have NaN

In [43]:
iris.dropna(how='any', inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [48]:
iris.reset_index(drop=True, inplace=True)

### BONUS: Create your own question and answer it.

In [49]:
iris

     sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
0                5.0             3.6              1.4             0.2
1                5.4             3.9              1.7             0.4
2                4.6             3.4              1.4             0.3
3                5.0             3.4              1.5             0.2
4                4.4             2.9              1.4             0.2
..               ...             ...              ...             ...
141              6.7             3.0              5.2             2.3
142              6.3             2.5              5.0             1.9
143              6.5             3.0              5.2             2.0
144              6.2             3.4              5.4             2.3
145              5.9             3.0              5.1             1.8

[146 rows x 4 columns]